.productBlok{
  float: left;
  border: 1px solid;
  width: 20%;

  padding: 2%;
  height: 170px;
  margin-left: 4px;
  margin-bottom: 5px;
  display: block;
  color: black;
}

.productBlok img{
  width: 100%;
}
