@font-face{
    font-family: Jolly;
    src: url(res/Jolly.ttf);
}
body{
    background-image: url(res/nieuwe_background.jpg);
    background-repeat: no-repeat;

    background-position: right top;
    background-attachment: fixed;

    background-color: rgb(250, 250, 250);

    background-size: 100%  auto;
}

.containerDiv{
    width: 1000px;
    height: auto;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    background-color: rgba(255,255,255,0.8);
}

/* -----------------
    Bovenste navigatie Bar
*/
.pageDiv{
    height: 110px;
    width: 1000px;
    text-decoration: none;
    color: black;
}
.pageButDiv{
    background-color: #FF9933;
    text-decoration: none;
    margin-top: 80px;
    padding-top: 10px;
    color: black;
    width: 10%;
    height: 30px;
    float: right;
    text-align: center;
}
.pageButDiv:hover{
    background-color: black;
    color: white;
}
/* -----------------
    Tweede navigatie-bar met alle catogori�n
*/

.menuBalk{
    height:20px;
    width: 100%;
}
.uitschuifContainer{
    float: left;
}
.uitschuifContainer:hover .subKnopHouder{
    display: block;
}
.hoofdKnop, .hoofdKnopSelected{
    height: 100%;
    background-color: black;
    color: white;
    clear: left;
    text-align: center;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-top: 2px;
}
.hoofdKnop:hover, .hoofdKnopSelected{
    background-color: #FF9933;
    color: black;
}

.subKnopHouder{
    display: none;
    position: absolute;
}
.subKnop{
    clear: left;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
}
.subKnop:hover{
      background-color: #FF9933;
    color: black;
}

/* -----------------
    Footer Stuff
*/
.footDiv, .footDiv a{
    text-align: center;
    text-decoration: none;
    color: black;
}
/* -----------------
    Content Stuff
*/
.blokje{
    width: 210px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.contentDiv{

}

.aNo{
    text-decoration: none;
}

.h1 {
    margin: 0px;
}

.horizontalLineUnderTitle {

}

.kleineFoto{
    width: 60px;
    margin=2%;
}
.kleineFoto:hover{
    cursor: pointer;
    cursor: hand;
}
